<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS Interface</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/styles/voices.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
</head>
<body>
    <header>
        <a href="/">Gerar Audio</a>
        <a href="/voices">Vozes</a>
        <a href="/">Audio Presets</a>
    </header>

    <div class="container">
        <div class="configs-container">
            <div class="drop-area upload-audio-container" id="dropArea">
                <label for="fileInput">Arraste e solte um arquivo WAV aqui ou clique para selecionar.</label>
                <input type="file" name="file" id="fileInput" accept=".wav">
            </div>
        </div>

        <h1>Lista de Áudios</h1>
        <div class="audio-list-container">

            <div class="primary-container">
                <label for="text">Enter Text</label>

                <div class="input-container text">
                    <input type="text" id="text">
                    <button id="generateAudio">Gerar vozes</button>
                </div>
            </div>

            <div id="new-voices-container">
            </div>
        </div>
        
    </div>
    
    <script type="module" src="/static/scripts/voices.js"></script>
</body>
</html>